/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run erinyoung/needles -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

// using the test files in the repo
def inputFile = new File("${baseDir}/tests/test_samplesheet.csv")
def content = inputFile.text
def modifiedContent = content.replace("BASEDIR", baseDir.toString() )
def outputFile = new File("needles_test_samplesheet.csv")
outputFile.text = modifiedContent

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Using test dataset to check pipeline function'

    input = "needles_test_samplesheet.csv"
    taxid = "727"

}
